<div class='about-header'>
  <img src='https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-white.svg' class='menu-btn'>
  <div class='container'>
    <h1>
      Relive your favorite memories
    </h1>
  </div>
</div>
<div class='about-supporting'>
  <div class='container'>
    <h1>
      No more sorting through photos
    </h1>
    <p>
      Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways.
    </p>
    <%= link_to "Sign up", {controller: "signups", action: "new"}, class: "btn btn-primary" %>
  </div>
</div>