<div class='thanks'>
  <img src='https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-white.svg' class='menu-btn'>
  <div class='container'>
    <h1>
       Thanks, well be in tough
    </h1>
  </div>
</div>